<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitop.otcapi.fcg.mapper.CoinRecordMapper">


    <update id="updateStatusById">
		UPDATE otc_order_appeal
		SET
			`status`= #{status}
		WHERE `id`= #{id}
	</update>


</mapper>